<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.account.mapper.AccountMapper">
    <insert id="addRepayment">
        INSERT INTO repayment (user_id, repay_date, repay_amount) VALUES (#{userId}, #{repayDate}, #{repayAmount});
    </insert>
</mapper>